<app-menu [pageTitle]="pageTitle"></app-menu>
<button type="button" routerLink="/employee/a" class="btn btn-primary btn-sm">Hinzufügen</button>
<table class="table table-hover align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th class="text-center">ID</th>
    <th>Name</th>
    <th>Nachname</th>
    <th>Straße</th>
    <th>PLZ</th>
    <th>Ort</th>
    <th>Tel.Nr.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>
      <div class="d-flex align-items-center">
        <button type="button" routerLink="/employee/d/{{employee.id}}"
                class="btn btn-outline-secondary">{{employee.id}}</button>
      </div>
    </td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.street}}</td>
    <td>{{employee.postcode}}</td>
    <td>{{employee.city}}</td>
    <td>{{employee.phone}}</td>
    <td>
      <button type="button" routerLink="/employee/d/{{employee.id}}" (click)="updateImageId(employee.id)" class="btn btn-outline-primary btn-sm">Details
      </button>
    </td>
    <td>
      <button type="button" routerLink="/employee/e/{{employee.id}}" (click)="updateImageId(employee.id)" class="btn btn-outline-primary btn-sm">Bearbeiten
      </button>
    </td>
    <td>
      <button type="button" (click)="delete(employee)" class="btn btn-outline-primary btn-sm">Löschen</button>
    </td>
  </tr>
  </tbody>
</table>
