.login-buttons{
  padding: 10px 32px;
  margin: 30px
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}
