<div class="">
  <h1>Login</h1>
  <div class="form-horizontal " style="width: 25%">
    <label>Benutzername</label>
    <input id="username" placeholder="Benutzername" class="form-control" [(ngModel)]="user.username">
    <label>Passwort</label>
    <input id="password" placeholder="Passwort" type="password" class="form-control"[(ngModel)]="user.password">
    <label>Token</label>
    <input id="token" placeholder="Bearer Token" type="password" class="form-control"[(ngModel)]="token">
  </div>
  <div class="">
  <button type="button" (click)="login()" class="btn btn-primary login-buttons" >Login</button>
  <button type="button" (click)="resetPassword()" class="btn btn-primary login-buttons">Passwort vergessen</button>
  </div>
</div>
