ul{
  list-style-type: none;

  overflow: hidden;

}


li{
  display: inline-block;
}
li a:hover:not(.active) {
  background-color: rgba(148, 224, 234, 0.75);
}

.active {
  background-color: #0caf73;
}
